*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.navbar{
    display: flex;
    box-shadow: 5px 5px 10px #efe9e7;
    justify-content:space-evenly;
    font-family: "open-sans", sans-serif;
}

.container{
    width: 100%;
    text-align: center;
}

.bold{
    font-weight: bolder;
}

.center{
    display: flex;
    align-items: center;
    margin-right: 130px;
    
}

.logo{
    height: 90px;
    padding:20px 0px 20px 100px ;
}

.nav-link{
    padding: 20px;
    text-decoration: none;
    color: #979797;
    font-size: 15px;
    transition: 0.5s;
}

.nav-link:hover{
    color: #eb5d1e;
}

.i-size{
    font-size: 13px;
    padding-left: 7px;
}

.btn{
    margin-left: 25px;
    padding: 12px;
    border-radius: 50px;
    border: none;
    background-color: #eb5d1e;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    transition: 0.4s;
}

.btn:hover{
    color: white;
}

.dropdown{
    height: 160px;
    width: 145px;
    background-color:#656565;      
    padding: 15px;
    margin-left: -60px;
    top: 100px;
    display: none;
}
.dr:hover .dropdown{
    display:inline-block;
}

.dropdown-menu{
    text-decoration: none;
    padding: 7px;
    font-family: "open-sans", sans-serif;
    font-size: 15px;
    color: #4e4039;
}

.text{
    text-decoration: none;
    color: black;
    transition: 0.4s;
}

.text:hover{
    color: #eb5d1e;
}

.p-1{
    padding-bottom: 50px;
}

.margin{
    margin-left: -250px;
    margin-top: -16px;

}

.dropdown1{
    height: 160px;
    width: 145px;
    background-color:#656565;
    padding: 15px;
    top: 75px;
    display: none;
}


.dr2:hover .dropdown1{
    display:inline-block;
}

.table{
    color: white;
    font-family: "open-sans", sans-serif;
    width: 80%;
    margin-left: 140px;
    margin-top: 50px;
    right: 140px;
    justify-content:space-evenly;   
    background-color: #3b3b3b;
    padding: 50px;
    position: absolute;
}

.hv1{
    display: none;
}

.hv:hover .hv1{
    display: inline-block;
}

.mega-menu-link{
    text-decoration: none;
    color: rgb(164, 162, 162);
    text-align: center;
}
.mega-menu-link:hover{
border-bottom: solid 2px rgb(0, 0, 0);
}

.mega-menu-title{
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 20px;
}


.p-2{
    padding-bottom: 8px;
}

.paragraph{
    width: 180px;
    font-size: 15px;
    color:rgb(164, 162, 162);
    padding-top: 4px;
    text-align:inherit;
}

.p-r{
   position: absolute;
}

.hv{
    display:inline-block;
}

.hv:hover table{
    display: inline-block;
}

.p-4{
    padding-bottom: 50px;
}